.banner-slider {
    margin-bottom: map-get($margins, after-section);
    @include respond(tablet) {
        margin-bottom: 10rem;
    }
    @include respond(phone) {
        margin-bottom: 6.4rem;
    }
    &__main-container {
        position: relative;
    }
    &__box {
        position: relative;
        display: flex;
        width: 100%;
        gap: 0 4rem;
        left: 0;
        transition: all 1s ease;
        margin-bottom: 3.2rem;
        @include respond(laptop) {
            gap: 0 2.4rem;
        }
        @include respond(tablet) {
            gap: 0 4rem;
            margin-bottom: 4rem;
        }
        @include respond(phone) {
            gap: 0;
            margin-bottom: 2.4rem;
        }
        &-image {
            display: inline-block;
            width: 55.2rem;
            height: 39.6rem;
            @include respond(laptop) {
                width: 41.6rem;
                height: 39.6rem;
            }
            @include respond(tablet) {
                width: 55.2rem;
                height: 39.6rem;
            }
            @include respond(phone) {
                width: 35.1rem;
                height: 25.2rem;
            }
        }
    }
    &__control-bar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__indicator {
        display: inline-block;
        width: 38.6rem;
        height: 100%;
        background: map-get($colors, green);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;
        @include respond(laptop) {
            width: 28.2rem;
        }
        @include respond(tablet) {
            width: 11.6rem;
        }
        @include respond(phone) {
            width: 5.85rem;
        }
        &-line {
            display: inline-block;
            width: 154.4rem;
            height: .8rem;
            background: map-get($colors, light-gray);
            position: relative;
            overflow: hidden;
            @include respond(laptop) {
                width: 112.8rem;
            }
            @include respond(tablet) {
                width: 100%
            }
        }
    }
    &__buttons {
        display: inline-flex;
        gap: 0 1.6rem;
        @include respond(tablet) {
            display: none;
        }
        &-btn {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            mask: center no-repeat;
            &_left {
                background: map-get($colors, middle-gray);
                -webkit-mask-image: url(../icons/left.svg);
                -moz-mask-image: url(../icons/left.svg);
                mask-image: url(../icons/left.svg);
            }
            &_right {
                background: map-get($colors, green);
                -webkit-mask-image: url(../icons/right.svg);
                -moz-mask-image: url(../icons/right.svg);
                mask-image: url(../icons/right.svg);
            }
            &-container {
                padding: 1.5rem;
                font-size: 0;
                border: .1rem solid map-get($colors, white);
                &:hover {
                    cursor: pointer;
                }
                &_right {
                    border-color: map-get($colors, green);
                }
            }
        }
    }
}