$colors: (
    white: #FFFFFF,
    black: #282828,
    mask-grey: rgba(40, 40, 40, 0.60),
    grey: #818181,
    green: #00A55A,
    light-green: #E5F6EE,
    light-gray: #FAFAFA,
    middle-gray: #D9D9D9,
);

$margins: (
    after-section: 12.4rem,
    after-main-title: 5.6rem,
    after-subtitle: 3.2rem,
)